<div class="jumbotron">
  <h1> PIPS </h1>
  <%= link_to "home", root_path, class: 'btn btn-primary' %>
  <%= link_to "about me", home_about_path, class: 'btn btn-default' %>
  <%= link_to 'Pins', pins_path, class: "btn btn-primary" %>
</div>
